<p>
  <b>Movie:</b>
  <%=h @movie_tag.movie_id %>
</p>

<p>
  <b>Tag:</b>
  <%=h @movie_tag.tag_id %>
</p>


<%= link_to 'Edit', edit_movie_tag_path(@movie_tag) %> |
<%= link_to 'Back', movie_tags_path %>